<!--モーダルボタン-->
<button type="button" class="btn btn-success rounded-pill" data-bs-toggle="modal" data-bs-target="#edit_acquaintance">
   編集
</button>

<!--モーダルの中身-->
<div class="modal fade" id="edit_acquaintance" tabindex="-1" aria-labelledby="edit_acquaintance_Label" aria-hidden="true" >
  <div class="modal-dialog modal-lg modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">知人情報編集</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </button>
      </div>
      <%= form_with model: @acquaintance, url: acquaintance_path(@acquaintance) do |f| %>
        <div class="modal-body text-start">
          <div class="form-group mb-2">
            <%= f.label :name %>
            <%= f.text_field :name, class:"form-control" %>
          </div>
          <div class="form-group mb-2">
            <%= f.label :relationship %>
            <%= f.text_field :relationship, class:"form-control" %>
          </div>
          <div class="form-group mb-2">
            <%= f.label :character %>
            <%= f.text_field :character, class:"form-control" %>
          </div>
          <div class="form-group mb-2">
            <%= f.label :like %>
            <%= f.text_field :like, class:"form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
          <%= f.submit "登録", class:"btn btn-success rounded-pill"%>
        </div>
      <% end %>
    </div>
  </div>
</div>