<div class="container">
  <div class="row">
    <div class="col-3 offset-9 mb-2">
      <%= render "public/acquaintances/new_modal" %>
    </div>
  </div>
  <div class="row">
    <div class="d-flex flex-wrap justify-content-around">
      <% @acquaintances.each do |acquaintance| %>
        <%= link_to acquaintance_path(acquaintance), class:"card mb-3 shadow" do %>
          <%= image_tag acquaintance.get_acquaintance_image, class:"card-img-top", alt:"Card image cap" %>
          <div class="card-body">
            <h4 class="card-title"><%= acquaintance.name %></h4>
            <p>
              <span>作成日時</span> <br>
              <span class="card-text"><%= acquaintance.created_at.strftime('%Y/%m/%d %H:%M') %></span>
            </p>
            <p>
              <span>更新日時</span> <br>
              <span class="card-text"><%= acquaintance.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

