  <% topics.each do |topic| %>
    <div class="container topic shadow py-3 my-2">
      <div class="row">
        <div class="col-lg-2 col-4 text-center">
          <%= link_to image_tag(topic.user.get_profile_image, class:"topic_profile_image"), admin_user_path(topic.user) %>
        </div>
        <div class="col-lg-10 col-8">
          <div class="row d-flex align-items-center">
            <div class="col-lg-3 col-8 h2"><%= link_to topic.user.name, admin_user_path(topic.user), class:"text-decoration-none text-dark" %></div>
            <div class="col-lg-5 col-10">最終更新：<%= topic.updated_at.strftime('%Y/%m/%d %H:%M') %></div>
            <div class="col-lg-2 col-5 mb-2"><%= render "public/topics/edit_modal", topic: topic, url: admin_topic_path(topic) %></div>
            <div class="col-lg-2 col-5"><%= link_to "削除", admin_topic_path(topic), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-danger rounded-pill" %></div>
          </div>
          <!--タグ一覧-->
          <div class="row ms-lg-2">
            <div class="d-flex flex-wrap">
              <% topic.tags.each do |tag| %>
                <div class="btn btn-info btn-sm rounded-pill me-2 topic_tag">
                  <%= link_to tag.name, tag_search_admin_topics_path(tag_id: tag.id), class:"text-decoration-none text-dark" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!--投稿のタイトルと内容-->
      <a onclick="$('#collapseExample_<%= topic.id %>').collapse('toggle')" class="mt-3 ms-4 text-decoration-none text-dark">
        <div class="h3 fw-bold"><%= topic.title %></div>
        <div class="h6">内容を見る▼</div>
      </a>
      <div class="collapse mt-sm-3 ms-sm-4" id="collapseExample_<%= topic.id %>">
        <div><%= topic.content %></div>
        <div class="text-end"><%= link_to "コメントを見る", admin_topic_path(topic) %></div>
      </div>
    </div>
  <% end %>