<!--モーダルボタン-->
<button type="button" class="btn btn-success rounded-pill" data-bs-toggle="modal" data-bs-target="#new_topic">
  トピック投稿
</button>

<!--モーダルの中身-->
<div class="modal fade" id="new_topic" tabindex="-1" aria-labelledby="new_topic_Label" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">トピック投稿</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </button>
      </div>
      <%= form_with model: Topic.new do |f| %>
        <div class="modal-body">
          <div class="form-group mb-2">
            <%= f.label :title %>
            <%= f.text_field :title, class:"form-control" %>
          </div>
          <div class="form-group mb-2">
            <%= f.label :content %>
            <%= f.text_area :content, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :name, "タグ(半角スペースで複数個登録できます)" %>
            <%= f.text_field :name, class:"form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
          <%= f.submit "登録", class:"btn btn-success rounded-pill"%>
        </div>
      <% end %>
    </div>
  </div>
</div>