<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "みんなのトピック", topics_path, class:"text-decoration-none" %></li>
    <li class="breadcrumb-item active" aria-current="page">トピック詳細</li>
  </ol>
</nav>
<div class="container">
  <!--ユーザープロフィール-->
  <div class="row">
    <div class="col-lg-3 col-4 text-center">
      <%= link_to image_tag(@user.get_profile_image, class:"topic_profile_image"), user_path(@user) %>
    </div>
    <div class="col-lg-6 col-sm-4 col-8">
      <h3 class="fw-bold"><%= link_to @user.name, user_path(@user), class:"text-decoration-none text-dark" %></h3>
      <div class="row mt-2"><h6>トピック作成日時：<%= @topic.created_at.strftime('%Y/%m/%d %H:%M') %></h6></div>
      <div class="row mt-2"><h6>トピック更新日時：<%= @topic.updated_at.strftime('%Y/%m/%d %H:%M') %></h6></div>
    </div>
    <% if @user == current_user %>
      <div class="col-lg-3 col-sm-3 col-12 text-end mb-2">
        <%= render "public/topics/edit_modal", topic: @topic, url: topic_path(@topic) %>
        <%= link_to topic_path(@topic), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-outline-danger rounded-pill ms-3" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-10 col-12 mt-sm-4 ms-sm-4"><h1 class="fw-bold"><%= @topic.title %></h1></div>
  <div class="col-lg-10 col-12 mt-sm-3 ms-sm-5">
    <%= Rinku.auto_link(safe_join(@topic.content.split("\n"),tag(:br)), :all, 'target="_blank"').html_safe %>
  </div>
  <div class="d-flex flex-wrap mt-3">
    <% @topic.tags.each do |tag| %>
      <div class="btn btn-outline-info btn-sm rounded-pill me-2 topic_tag">
        <%= link_to tag.name, tag_search_topics_path(tag_id: tag.id), class:"text-decoration-none text-dark" %>
      </div>
    <% end %>
  </div>
  <!--コメント・ストック機能-->
  <div class="row mt-sm-5 mt-sm-2 mt-4">
    <div class="d-flex align-items-center">
      <div class="col-lg-2 col-5"><%= render "public/comments/comment_modal", topic: @topic, comment: @comment %></div>
      <div class="col-lg-2 col-5"><%= render "public/stocks/stock_modal", topic: @topic, stock: @stock %></div>
      <div id="stock_heart" class="ms-2">
        <%= render "public/stocks/stock_heart", topic: @topic %>
      </div>
      </div>
    </div>
  </div>

  <!--コメント-->
  <div class="container">
    <div class="row mt-4 topic_comment_index">
      <!--非同期通信のため部分テンプレート化-->
      <%= render "public/comments/comment_index", topic: @topic %>
    </div>
  </div>
</div>