<div class="container">
  <!--ユーザープロフィール-->
  <div class="row">
    <div class="col-3 text-center">
      <%= link_to image_tag(@user.get_profile_image, class:"topic_profile_image"), user_path(@user) %>
    </div>
    <div class="col-6">
      <h3 class="fw-bold"><%= link_to @user.name, user_path(@user), class:"text-decoration-none text-dark" %></h3>
      <div class="row mt-2"><h6>トピック作成日時：<%= @topic.created_at.strftime('%Y/%m/%d %H:%M') %></h6></div>
      <div class="row mt-2"><h6>トピック更新日時：<%= @topic.updated_at.strftime('%Y/%m/%d %H:%M') %></h6></div>
    </div>
    <% if @user == current_user %>
      <div class="col-3">
        <%= render "public/topics/edit_modal", topic: @topic %>
        <%= link_to "削除", topic_path(@topic), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-outline-danger rounded-pill" %>
      </div>
    <% end %>
  </div>
  <div class="col-10 mt-4 ms-4"><h1 class="fw-bold"><%= @topic.title %></h1></div>
  <div class="col-10 mt-3 ms-5"><%= @topic.content %></div>
  <div class="d-flex flex-wrap mt-3">
    <% @topic.tags.each do |tag| %>
      <div class="btn btn-outline-info btn-sm rounded-pill me-2 topic_tag">
        <%= link_to tag.name, tag_search_topics_path(tag_id: tag.id), class:"text-decoration-none text-dark" %>
      </div>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="d-flex">
      <%= render "public/comments/comment_modal"%>
    </div>
  </div>

  <!--コメント-->
  <div class="row mt-4">
    <hr></hr>
    <% @topic.comments.each do |comment| %>
        <div class="col-1 text-center"><%= image_tag comment.user.get_profile_image, class:"comment_profile_image" %></div>
        <div class="col-4">
          <div><%= link_to comment.user.name, user_path(comment.user), class:"text-decoration-none h4 fw-bold user_name" %> さん</div>
          <div><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
        </div>
        <% if comment.user.id == current_user.id %>
          <div class="col-2">
            <%= link_to "削除", topic_comment_path(comment.topic.id, comment), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-outline-danger rounded-pill" %>
          </div>
        <% end %>
        <div class="h5 mt-2 ms-3 text-break"><%= comment.comment %></div>
      <hr></hr>
    <% end %>
</div>