<div class="d-flex justify-content-between">
  <h5 class="fw-bold">【検索結果】</h5>
  <div class="d-flex">
    <div>
      <%= search_form_for(@q, url: word_search_topics_path) do |f| %>
        <%= f.hidden_field :title_or_content_cont, value: @title_or_content_cont %>
        <%= f.hidden_field :tags_name_cont, value: @tags_name_cont %>
        <%= button_tag type: "submit", class:"order_button" do %>
          <i class="fa-solid fa-list-ul"></i> 新着順
        <% end %>
      <% end %>
    </div>
    <div>|</div>
    <div>
      <%= search_form_for(@q, url: word_search_topics_path) do |f| %>
        <%= f.hidden_field :title_or_content_cont, value: @title_or_content_cont %>
        <%= f.hidden_field :tags_name_cont, value: @tags_name_cont %>
        <%= f.hidden_field :sort, value: "shuffle" %>
        <%= button_tag type: "submit", class:"order_button" do %>
          <i class="fa-solid fa-shuffle"></i> シャッフル
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "public/topics/index", topics: @results%>