<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 mb-2">
      <h2 class="text-center fw-bold mb-md-5 mb-2 mt-lg-3">新規登録 <i class="fa-solid fa-user-plus"></i></h2>
      <%= render "public/shared/error_messages", resource: resource %>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <div class="form-group mb-3">
          <div class="d-flex align-items-center">
            <span class="badge bg-danger me-1">必須</span>
            <%= f.label :name, "アカウント名（30文字以下）" %>
          </div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control mt-1", required: true %>
        </div>
        <div class="form-group mb-3">
          <div class="d-flex align-items-center">
            <span class="badge bg-danger me-1">必須</span>
            <%= f.label :email %>
          </div>
          <%= f.email_field :email, autocomplete: "email", class:"form-control mt-1", required: true %>
        </div>
        <div class="form-group mb-3">
          <div class="d-flex align-items-center">
            <span class="badge bg-danger me-1">必須</span>
            <%= f.label :password, "パスワード（6桁以上）" %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control mt-1", required: true %>
        </div>
        <div class="form-group">
          <div class="d-flex align-items-center">
            <span class="badge bg-danger me-1">必須</span>
            <%= f.label :password_confirmation %>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mt-1 mb-3", required: true %>
        </div>
        <div class="actions text-center">
          <%= f.submit "登録する", class:"btn btn-success rounded shadow" %>
        </div>
      <% end %>
    </div>
  </div>
</div>