<div class="container mt-5">
  <div class="row">
    <div class="d-flex flex-wrap justify-content-around">
      <% @users.each do |user| %>
        <%= link_to admin_user_path(user), class:"card mb-3 shadow" do %>
          <%= image_tag user.get_profile_image, class:"card-img-top", alt:"Card image cap" %>
          <div class="card-body">
            <h4 class="card-title"><%= user.name %></h4>
            <p>
              <span>作成日時</span> <br>
              <span class="card-text"><%= user.created_at.strftime('%Y/%m/%d %H:%M') %></span>
            </p>
            <p>
              <span>更新日時</span> <br>
              <span class="card-text"><%= user.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

