<% topic = notification.topic %>
<% visitor = notification.visitor %>
<% action = notification.action %>
<div class="text-dark">
  <% if action == "comment" %>
    <%= visitor.name %>さんが
    <% if topic.user != current_user %>
      <%= link_to "#{topic.user.name}さんの投稿", topic_path(topic.id) %>
    <% else %>
      <%= link_to "あなたの投稿", topic_path(topic.id) %>
    <% end %>
    にコメントしました
    <div class="notification-comment ms-4">
      <%= Rinku.auto_link(safe_join(notification.comment.comment.split("\n"),tag(:br)), :all, 'target="_blank"').html_safe %>
    </div>
  <% elsif action == "favorite" %>
    <%= visitor.name %>さんが
    <%= link_to "あなたの投稿", topic_path(topic.id) %>
    にいいねしました
  <% elsif action == "follow" %>
    <%= link_to "#{visitor.name}", user_path(visitor.id) %>さんが
    あなたをフォローしました
  <% end %>
</div>
<hr>