<div class="container">
  <!--ユーザープロフィール-->
  <div class="row">
    <div class="col-4 text-center">
      <%= image_tag @user.get_profile_image, class:"profile_image shadow" %>
    </div>
    <div class="col-8">
      <div class="row mt-4">
        <div class="d-flex align-items-center">
          <h1 class="text-break"><%= @user.name %></h1>
          <% if @user == current_user %>
            <%= render "public/users/modal", user: @user %>
          <% end %>
        </div>
      </div>
      <div class="row mt-2"><h6>作成日時：<%= @user.created_at.strftime('%Y/%m/%d %H:%M') %></h6></div>
      <div class="row mt-2"><h6>更新日時：<%= @user.updated_at.strftime('%Y/%m/%d %H:%M') %></h6></div>
    </div>
  </div>
      <!--ユーザーの投稿トピック-->
  <div class="row">
    <% @topics.each do |topic| %>
      <div class="user_topic">
        <div class="col-4">
          <%= image_tag @user.get_profile_image, class:"topic_profile_image" %>
        </div>
        <div class="col-8">
          <!--中身を入れられるようにする-->
        </div>
        </div>
    <% end %>
  </div>
</div>