<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="row text-center">
      <% if admin_signed_in? %>
        <div class="col-3">
          <%= link_to "ロゴ", admin_path, class: "navbar-brand" %>
        </div>
        <div class="col-9">
          <%= search_form_for(@q, url: word_search_admin_topics_path) do |f| %>
            <div class="input-group">
              <%= f.search_field :title_or_content_cont, placeholder:"トピック", class:"form-control" %>
              <%= f.search_field :tags_name_cont, placeholder:"タグ", class:"form-control" %>
              <%= f.submit '検索', class:"btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="col-3">
          <%= link_to "ロゴ", topics_path, class: "navbar-brand" %>
        </div>
        <div class="col-9">
          <%= search_form_for(@q, url: word_search_topics_path) do |f| %>
            <div class="input-group">
              <%= f.search_field :title_or_content_cont, placeholder:"トピック", class:"form-control" %>
              <%= f.search_field :tags_name_cont, placeholder:"タグ", class:"form-control" %>
              <%= f.submit '検索', class:"btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-light">
          <span class="nav-link text-light">

          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>