<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <!--ヘッダー-->
    <% if user_signed_in? %>
      <!--userがサインイン状態-->
      <%= link_to topics_path, class: "navbar-brand" do %>
        <%=image_tag "header_logo.png", height:"45px" %>
      <% end %>
      <!--ハンバーガーメニュー-->
      <nav>
        <button class="navbar-toggler border-0 align-middle" type="button" onclick="$('#search_form').collapse('toggle')">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="navbar-toggler border-0" type="button" onclick="$('#sidebar').collapse('toggle')">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="col-lg-7 offset-lg-2 col-12 mt-1 d-none d-lg-block">
        <%= search_form_for(@q, url: word_search_topics_path) do |f| %>
          <div class="input-group">
            <%= f.search_field :title_or_content_cont, placeholder:"トピック", class:"form-control" %>
            <%= f.search_field :tags_name_cont, placeholder:"タグ", class:"form-control" %>
            <%= button_tag type: "submit", class:"btn btn-secondary" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% elsif admin_signed_in? %>
      <!--管理者がサインイン状態-->
      <%= link_to admin_path, class: "navbar-brand" do %>
        <%=image_tag "header_logo.png", height:"45px" %>
      <% end %>
      <!--ハンバーガーメニュー-->
      <nav>
        <button class="navbar-toggler border-0 align-middle" type="button" onclick="$('#search_form').collapse('toggle')">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="navbar-toggler border-0" type="button" onclick="$('#sidebar').collapse('toggle')">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="col-lg-7 offset-lg-2 col-12 mt-1 d-none d-lg-block">
        <%= search_form_for(@q, url: word_search_admin_topics_path) do |f| %>
          <div class="input-group">
            <%= f.search_field :title_or_content_cont, placeholder:"トピック", class:"form-control" %>
            <%= f.search_field :tags_name_cont, placeholder:"タグ", class:"form-control" %>
            <%= button_tag type: "submit", class:"btn btn-secondary" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <!--サインインしていない状態-->
      <%= link_to root_path, class: "navbar-brand" do %>
        <%=image_tag "header_logo.png", height:"45px" %>
      <% end %>
      <button class="navbar-toggler border-0 align-middle" type="button" onclick="$('#sidebar').collapse('toggle')">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-5 offset-xl-7 offset-5" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary me-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class:"btn btn-success me-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:"btn btn-secondary" %>
          </li>
        </ul>
      </div>
    <% end %>

    <!--ハンバーガーメニュー（検索フォーム）-->
    <div class="collapse navbar-collapse mt-2" id="search_form">
      <ul class="navbar-nav d-lg-none text-light">
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= search_form_for(@q, url: word_search_topics_path) do |f| %>
              <div class="input-group">
                <%= f.search_field :title_or_content_cont, placeholder:"トピック", class:"form-control" %>
                <%= f.search_field :tags_name_cont, placeholder:"タグ", class:"form-control" %>
                <%= button_tag type: "submit", class:"btn btn-secondary" do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <%= search_form_for(@q, url: word_search_admin_topics_path) do |f| %>
              <div class="input-group">
                <%= f.search_field :title_or_content_cont, placeholder:"トピック", class:"form-control" %>
                <%= f.search_field :tags_name_cont, placeholder:"タグ", class:"form-control" %>
                <%= button_tag type: "submit", class:"btn btn-secondary" do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>

    <!--ハンバーガーメニュー（サイドバー）-->
    <div class="collapse navbar-collapse mt-1 ms-2" id="sidebar">
      <ul class="navbar-nav d-lg-none text-light">
        <% if user_signed_in? %>
            <li class="nav-item mt-2 mb-2">
              <div>
                <%= image_tag current_user.get_profile_image, class:"top_profile_image me-3" %>
                <span class="h4 text-break sidebar-li"><%= current_user.name %></span>
              </div>
            </li>
            <li class="nav-item my-2">
              <%= link_to topics_path, class:"sidebar-li" do %>
                <i class="fa-solid fa-right-to-bracket me-2"></i>
                みんなのトピック
              <% end %>
            </li>
            <li class="nav-item my-2">
              <%= link_to tags_path, class:"sidebar-li" do %>
                <i class="fa-solid fa-tags me-2"></i>
                トピックタグ
              <% end %>
            </li>
            <li class="nav-item my-2">
              <%= link_to events_path, class:"sidebar-li" do %>
                <i class="fa-solid fa-calendar-days me-2"></i>
                カレンダー
              <% end %>
            </li>
            <li class="nav-item my-2">
              <%= link_to acquaintances_path, class:"sidebar-li" do %>
                <i class="fa-solid fa-people-group me-2"></i>
                お知り合い
              <% end %>
            </li>
            <li class="nav-item my-2">
              <%= link_to user_path(current_user), class:"sidebar-li" do %>
                <i class="fa-solid fa-address-card me-2"></i>
                プロフィール
              <% end %>
            </li>
            <li class="nav-item my-2">
              <%= link_to favorite_topics_topics_path, class:"sidebar-li" do %>
                <i class="fa-solid fa-heart-circle-check me-2"></i>
                お気に入りトピック
              <% end %>
            </li>
            <!--モーダルボタン-->
            <li class="nav-item">
              <a type="button" data-bs-toggle="modal" data-bs-target="#new_topic" class="sidebar-li">
                <i class="bi bi-chat-left-text-fill me-1"></i>
                トピック投稿
              </a>
            </li>
            <li class="nav-item my-2">
              <%= link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか"}, class:"sidebar-li" do %>
                <i class="fa-solid fa-door-open me-2"></i>
                ログアウト
              <% end %>
            </li>
            <li class="nav-item my-2">
              <a data-bs-toggle="modal" data-bs-target="#terms_of_use" class="text-decoration-none sidebar-li">
                <i class="fa-solid fa-file-lines me-3"></i>利用規約
              </a>
            </li>
            <li class="nav-item my-2">
              <a data-bs-toggle="modal" data-bs-target="#user_policy" class="text-decoration-none sidebar-li">
                <i class="fa-solid fa-user-lock me-2"></i>プライバシーポリシー
              </a>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item my-2">
              <h3 class="fw-bold text-light">管理者</h3>
            </li>
            <li class="nav-item my-2">
              <%= link_to admin_path, class:"sidebar-li" do %>
                <i class="fa-solid fa-right-to-bracket me-2"></i>
                みんなのトピック
              <% end %>
            </li>
            <li class="nav-item my-2">
              <%= link_to admin_tags_path, class:"sidebar-li" do %>
                <i class="fa-solid fa-tags me-2"></i>
                トピックタグ
              <% end %>
            </li>
            <li class="nav-item my-2">
              <%= link_to admin_users_path, class:"sidebar-li" do %>
                <i class="fa-solid fa-users me-2"></i>
                ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item my-2">
              <%= link_to destroy_admin_session_path, method: :delete, class:"sidebar-li" do %>
                <i class="fa-solid fa-door-open me-2"></i>
                ログアウト
              <% end %>
            </li>
            <li class="nav-item my-2">
              <a data-bs-toggle="modal" data-bs-target="#terms_of_use" class="text-decoration-none sidebar-li">
                <i class="fa-solid fa-file-lines me-3"></i>利用規約
              </a>
            </li>
            <li class="nav-item my-2">
              <a data-bs-toggle="modal" data-bs-target="#user_policy" class="text-decoration-none sidebar-li">
                <i class="fa-solid fa-user-lock me-2"></i>プライバシーポリシー
              </a>
            </li>
          <% else %>
          <!--サインインしていない状態-->
            <div class="mx-auto">
              <%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary me-3" %>
              <%= link_to "ログイン", new_user_session_path, class:"btn btn-success me-3" %>
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:"btn btn-secondary" %>
            </div>
          <% end %>
      </ul>
    </div>
  </div>
</nav>